@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body{
  font-family: 'Lato', 'helvetica-neue', sans-serif;
}

h1{
  font-weight: 300;
  font-size: 5em;
}

h2{
  font-weight: 300;
  margin-left: 7px;
}
