@media screen and (min-width: 0px) {
  .container {
    width: 565px;
  }
}

@media screen and (min-width: 1340px) {
  .container {
    width: 1128px;
  }
}

:root{
  --swatch-width: 45px;
  --swatch-height: 60px;
  --large-corner: 7px;
  --small-corner: 3px;
  --edit-color: #3370FA;

}

h1, h2, h3, p, .button{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1{
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 20px;
}

h2{
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 100;
}

h3{
  margin: 5px 0;
  font-weight: 300;
}

.credit{
  margin-top: 25px;
}

.swatchId{
  margin:0;
}

.button{
  font-size: 14px;
  margin-bottom: 5px;
}

span.custom{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-shadow: 0px 0px 5px darkgrey;
  text-shadow: 0px 0px 3px darkgrey;
}

.cols{
  display: flex;
  flex-direction: row;
}

.sidebar{
  min-width: 200px;
  max-width: 200px;
  padding: 20px;
}

h1{
  margin-top: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.buttonGroup{
  margin-top: 20px;
}

.buttonSubGroup{
  margin-bottom: 20px !important;
  display: block;
}

.button{
  border-radius: var(--small-corner);
  background-color: white;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  border: 1px solid darkgrey;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.button:hover{
  background-color: #ddd;
  cursor: pointer;
}

.segmentedButton{
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.segmentedButton:hover{
  background-color: white !important;
}

.segmentedButton *{
  padding: 10px 15px;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
}

.hot{
  box-shadow: 0px 0px 5px var(--edit-color);
}

.segmentedButton *:hover{
  background-color: #ddd
}

.segmentedButton *:first-child {
  flex-grow: 1;
  border-right: 1px solid darkgrey;
}

.segmentedButton *:last-child{
  width: 25px;
}


.active{
  background-color: #eee;
}

.editActive{
  background-color: var(--edit-color) !important;
}

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex-grow: 1;
}

.swatch{
  height: var(--swatch-height);
  min-width:var(--swatch-width);
  /*border-radius: var(--large-corner) 0 0 var(--large-corner);*/
  border-right: 1px dashed darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 3px darkgrey;
  transition: box-shadow .5s;
  -webkit-transition: box-shadow .5s;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}


.swatchInner{
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatchInner:hover{
  background-color: rgba(255,255,255,.4);
  cursor:pointer;
}

.titles{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: end;
  padding-left: 10px;
}

.name{
  font-size: 15px;
  margin: 0;
}

.colorId{
  margin: 0;
  font-size: 12px;
}

.pen{
  font-weight: 300;
  width: 155px;
  height: var(--swatch-side);
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;;
  border-radius: var(--large-corner);
  border: 1px solid darkgrey;
  padding-right: 10px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.inUserBox .titles{
  text-decoration: underline;
}

/*.inUserBox{
  width: 0;
  height: 0;
  padding: 7px;
  border-radius: 50%;
  left: 17px;

  background-color: darkgrey;
}*/
