@media screen and (min-width: 0px) {
  .container {
    width: 565px;
  }
}

@media screen and (min-width: 1340px) {
  .container {
    width: 1128px;
  }
}

:root{
  --swatch-side: 45px;
  --large-corner: 7px;
  --small-corner: 3px;

}

h1, h2, p, button{
  font-family: 'Lato', sans-serif;
}

button{
  font-size: 14px;
  font-weight: 300;
}

h2{
  font-weight: 300;
}

span.custom{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-shadow: 0px 0px 5px darkgrey;
  /*border: 1px dashed darkgrey*/
}

.cols{
  display: flex;
  flex-direction: row;
}

.sidebar{
  min-width: 200px;
  max-width: 200px;
  padding: 20px;
}

h1{
  margin-top: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.buttonGroup{
  margin-top: 20px;
}

.buttonSubGroup{
  padding-bottom: 20px;
  display: block;
}

button{
  border-radius: var(--small-corner);
  background-color: white;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  border: 1px solid darkgrey;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
}

button:hover{
  background-color: #eee;
  cursor: pointer;
}

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex-grow: 1;
}

.swatch{
  height: var(--swatch-side);
  min-width:var(--swatch-side);
  border-radius: var(--large-corner);
  border: 1px dashed darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 3px darkgrey
}

.swatchInner{
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  height: 100%;
  width: 100%;
  border-radius: var(--large-corner);
  background-color: rgba(255,255,255,0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatchInner:hover{
  background-color: rgba(255,255,255,.2);
  cursor:pointer;
}

.titles{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  padding-left: 20px;
}

.name{
  font-size: 15px;
  margin: 0;
}

.colorId{
  margin: 0;
  font-size: 12px;
}


.pen{
  width: 135px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 15px;
  justify-content: space-between;;
  border-radius: var(--small-corner);
  border: 1px solid darkgrey;
}
